.go-button.text{
    letter-spacing: 0.5px;
    font-family: 'FuturaBT-Medium';
    padding: 8px 15px 6px;
    margin: 5px 0 0;
    @apply text-[0.8125rem] lg:text-[1.125rem] text-white w-full block text-center relative uppercase font-medium;
}