.grid-container {
  display: grid;
  gap: 1px;
  height: auto;
  grid-template-columns: auto 1fr 1fr;
  border-top: 2px solid #e5e7eb;
  padding: 10px;
  grid-template-areas:
    'product-image product-details product-price'
    'product-image product-description product-description'
    'product-image product-ratings product-add-to-cart';
}

.product-image {
  grid-area: product-image;
  width: fit-content;
}

.product-details {
  white-space: nowrap;
  grid-area: product-details;
}

.product-price {
  grid-area: product-price;
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: end;
}

.product-description {
  grid-area: product-description;
}

.product-description:hover {
  text-decoration: underline;
}

.product-ratings {
  grid-area: product-ratings;
}

.product-add-to-cart {
  grid-area: product-add-to-cart;
  display: grid;
  justify-content: end;
}
.livesearch-plp .ds-widgets .ds-sdk-product-list .ds-sdk-product-item__main{
  border-bottom-width: 0;
}

.livesearch-plp .ds-widgets .ds-sdk-product-list__grid .ds-sdk-product-item > div:last-child {
  overflow: hidden;
  height: 100%;
}
.livesearch-plp .ds-widgets .ds-sdk-product-list__grid .ds-sdk-product-item:hover {
  border-style: solid;
}
.livesearch-plp .ds-widgets .ds-sdk-product-list__grid .ds-sdk-product-item {
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 0;
}

.go-btn-wrapper {
    .go-button {
        @apply !bg-transparent;

        &.text {
            @apply text-transparent;
        }
    }
}

.ds-sdk-product-item {
    &.in-focus,
    &:hover {
        .go-btn-wrapper {
            .go-button {
                @apply !bg-black hover:!bg-[#904745];

                &.text {
                    @apply text-white;
                }
            }
        }
    }
}

.livesearch-plp .ds-widgets {
  .ds-sdk-product-item__product-manufacturer {
    @apply flex justify-center items-center text-center text-[0.8125rem] leading-[15px] min-h-[30px] mt-[10px] mb-[6px];
    @apply md:text-[0.625rem] md:leading-[11px] md:min-h-[22px] lg:text-[0.9375rem] lg:leading-[1rem] lg:min-h-8 md:mt-[2px] lg:mt-[9px] md:mb-[3px] lg:mb-0;
  }

  .ds-sdk-product-item__product-name {
    @apply md:mb-[3px] lg:mb-0 leading-[1.25rem] text-[1.125rem] md:text-[0.8125rem] md:leading-[0.875rem] lg:text-[1.25rem] lg:leading-[1.5rem];
  }

  .ds-sdk-product-item__product-profumo {
    @apply flex mt-[1px] justify-center items-center text-[0.8125rem] leading-[0.9375rem] md:text-[0.625rem] md:leading-[0.875rem] lg:text-[0.9375rem] lg:leading-none min-h-[1.875rem];
  }

  .ds-sdk-product-price {
    @apply pt-[11px] text-[0.9375rem];

    span.price-text,
    span.line-through.text {
      @apply text-[0.9375rem] leading-none md:text-[0.625rem] md:leading-[0.875rem] lg:text-[1.125rem] lg:leading-[1.5rem];
    }
  }
}

@media screen and (max-width: 767px) {
  .grid-container {
    display: flex;
    gap: 10px;
    height: auto;
    border-top: 2px solid #e5e7eb;
    padding: 10px;
    grid-template-areas:
      'product-image  product-image product-image'
      'product-details product-details product-details'
      'product-price product-price product-price'
      'product-description product-description product-description'
      'product-ratings product-ratings product-ratings'
      'product-add-to-cart product-add-to-cart product-add-to-cart';
  }

  .product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  .product-price {
    justify-content: start;
  }

  .product-add-to-cart {
    justify-content: center;
  }

  .product-details {
    justify-content: center;
  }
}
